/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url('https://fonts.googleapis.com/css?family=Oswald|Ubuntu');
@font-face {

	font-family: 'bpicons';
	src:url('../fonts/bpicons/bpicons.eot');
	src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bpicons/bpicons.woff') format('woff'),
		url('../fonts/bpicons/bpicons.ttf') format('truetype'),
		url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: black;
    background: white;
}
h1 {
	font-family: 'Oswald', sans-serif;
	color:rgb(51, 153, 255);
}

h2 {
	text-decoration: underline;
	font-family: 'Ubuntu', sans-serif;
}

.pseudo span {
	color: #800000;
}

.choses span {
	font-size:0.3em;
}

.pseudo{
	line-height:2em;
	font-size:0.9em;
}

ul{
	list-style:none
}

.name, .controvers, .oeuvres {
	color:#800000
}

a {
	color: #D7D7D7;
	text-decoration: none;
}

a:hover {
	color: #800000;
}



@media screen and (max-width: 55em) {

	.container > header h1,
	.container > header nav {
		float: none;
	}

	.container > header > span,
	.container > header h1 {
		text-align: center;
	}

	.container > header nav {
		margin: 0 auto;
	}

	.container > header > span {
		text-indent: 30px;
	}
}
